@using TestExersize.Models

@model IEnumerable<Task>
@{
    ViewBag.Title = "Список задач";
}

@section Body {
    <div id="summary" class="section panel panel-primary">
        @Html.Partial("Summary", Model)   
    </div>
}