<h2 class="text-center text-success">@ViewBag.Message</h2>
<script>
    $(document).ready(function () {
        setTimeout(function() {
            window.location.href = "@Url.Action("Index", "Home")";
        }, 500);
    })
</script>
